/*Google font family*/
body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

/*Universal selector for all elements*/
* {
    box-sizing: border-box;
}